<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--包扫描-->
    <context:component-scan base-package="com.health.jobs"/>

    <!--生成对象实例交给spring容器管理-->
    <bean id="clearImgJob" class="com.health.jobs.ClearImgJob"/>

    <!--配置定时目标-->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!--注入目标对象-->
        <property name="targetObject" ref="clearImgJob"/>
        <!--注入目标方法-->
        <property name="targetMethod" value="clearImg"/>
    </bean>

    <!--注册一个触发器，指定任务触发的时间-->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!--注入jobDetail-->
        <property name="jobDetail" ref="jobDetail"/>
        <!--制定触发的时间-->
        <property name="cronExpression" value="0 0 3 * * ?"/>
    </bean>

    <!--注册一个统一的调度工厂，通过这个调度工厂调度任务-->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!--注入多个触发器-->
        <property name="triggers">
            <list>
                <ref bean="cronTrigger"/>
            </list>
        </property>
    </bean>
</beans>